@media (min-width: 600px) {
  main {
    overflow: hidden;
  }

  main > section {
    height: 100%;
    float: left;
    width: calc(100% - 300px);
  }

  main > nav {
    float: left;
    height: 100%;
    width: 150px;
  }

  main > aside {
    float: right;
    height: 100%;
    width: 150px;
  }
}